  body, html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    background-color: #1b2838;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
  }

  @media (max-width: 992px) {
    body, html {
      scroll-padding-top: 80px;
    }
  }

  body {
    margin-top: 5vh;
    display: flex;
  }

  .navbar {
    background-color: black !important;
    border-bottom: 2px solid #66c0f4;
  }

  .navbar img {
    width: 5.5vh;
    height: auto;
  }

  .navbar-brand, .nav-link, #contact a {
    color: #ffffff !important;
    font-weight: bold;
    text-decoration: none;
  }

  .nav-link:hover {
    color: #66c0f4 !important;
    text-decoration: underline;
  }

  #contact a:hover {
    color: #66c0f4 !important;
  }

  .navbar-toggler {
    padding: 10px;
    outline: none;
    box-shadow: none;
    border-width: 0;
  }

  .navbar-toggler:focus, .navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
    border-width: 0;
  }

  .navbar-toggler:active {
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 50%;
  }

  #main {
    flex: 1;
  }

  #age {
    cursor: pointer;
  }

  #skills div p {
    /* color: #66c0f4; */
    color: #ffffff;
    font-weight: bold;
  }

  #skills div div div {
    display: inline-block;
    border-radius: 4%;
    padding: 6px;
    background-color: #66c0f4;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 8rem;
  }

  h1, h2 {
    color: #ffffff;
    font-weight: bold;
  }

  p {
    /* color: #ffffff; */
    color: #cccccc;
    font-size: 14px;
  }

  .text-justify {
    text-align: justify;
  }

  .row {
    margin: auto;
  }

  .card {
    height: 100%;
    display: flex;
    background-color: #0d131b;
    border-radius: 1px;
    padding: 20px;
    box-shadow: 0 2px 2px rgba(63, 63, 63, 0.6);
  }

  .card img {
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
  }

  @media (max-width: 992px) {
    .card img {
        width: 50%;
    }
  }

  .card hr {
    color: #66c0f4;
  }

  .cv-button {
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    width: 60%;
    height: 3rem;
    max-width: 10rem;
    border: 2px solid #66c0f4;
  }

  .cv-button:hover, .cv-button:active {
      background-color: #58a3d9;
      color: white;
  }

  .pr-button {
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    width: 60%;
    height: 10rem;
    border: 2px solid #66c0f4;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .pr-button:hover, .pr-button:active {
    background-color: #58a3d9;
    color: white;
}